@import "variables";

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Arial Narrow";
    height: 100%;
    background: $background-color-medium;
    min-width: fit-content;
}
#app{
    min-height: 100%;
    background: $background-color-medium;
}
a{
    text-decoration: none;
    color: $basic-font-color;
}
img{
    max-width: 100%;
}
button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
form label{
    font-size: 1.3rem;
}
form>div{
    display: grid;
    grid-row-gap: 0.7rem;
    margin-bottom: 10%;
}
form input{
    height: 40px;
    width: 300px;
    box-sizing: border-box;
    padding: 10px 30px;
    font-size: 1.3rem;
    border-radius: 4rem;
    outline: none;
}
