.calendar>.date{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 7% 0;
}
.calendar.show{
    visibility: visible;
}
table{
    margin: 0 auto;
    border-spacing: 0.6rem;
    font-size: 1.6rem;
    border-collapse: collapse;
    width: 88%;
}
thead{
    font-size: 1.2rem;
}
table td{
    text-align: center;
    outline: 2px solid white;
    height: 53px;
    width: 53px;
    background: #F6F6F6;
    color: #C3C3C3;
}
th{
    text-align: center;
    color: #626262;
}

.current-month{
    background: #E5FCBF;
    color: black;
    cursor: pointer;
}
.current-month:hover,td.checked{
    background: #91B24B;
    color: white;
}

.today{
    box-sizing: border-box;
    outline: 2px dotted black;
}

.arrow{
    border: 3px solid rgba(1,1,1,0.5);
    border-bottom: none;
    border-left: none;
    display: block;
    height: 10px;
    width: 10px;
    cursor: pointer;
}
.arrow:hover{
    border-color: black;
}
.arrow-left{
    float: left;
    transform: rotate(-135deg) translateY(20px) translateX(-20px);
    transition: border-color 0.4s ease;
}
.arrow-right{
    float: right;
    transform: rotate(45deg) translateY(20px) translateX(-20px);
    transition: border-color 0.4s ease;
}
.date ul{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    align-items: center;
    font-weight: bold;
}
