#enscart_my_wrapper {
    text-align: center;
    position: relative;
}
#enscart_myimage_wrapper {
    background: #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
#enscart_my_wrapper img {
    height: 80%;
    width: auto;
    padding-top: 8px;
}
#enscart_my_counter_wrapper {
    cursor: pointer;
    min-width: 30px;
    height: 30px;
    background-color: #d62240;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -5px;
    top: -5px;
    text-align: center;
    line-height: 30px;
    font-family: Arial,sans-serif;
    margin: 0px 3px;
}
#easynetshop-cart {
    border: none;
    background-color: transparent;
}