nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    background: #F1F3F4;
    height: 120px;
}
nav>ul{
    display: flex;
    align-items: center;
}
#logo{
    position: relative;
}
#logo>img{
    width: 160px;
    padding: 1rem 2rem;
    max-width: unset;
}
nav li{
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
}
#exchange-rate{
    height: 60px;
    cursor: pointer;
    max-width: unset;
}
#logo aside{
    position: absolute;
    right: 40px;
    bottom: 0;
}
#logo aside img{
    width: 30px ;
}