@import "variables";

.orders{
    background: $background-color-light;
    min-height: calc(100vh - 120px);
    box-sizing: border-box;
}

.order{
    padding: 3% 0;
    &__body{
        width: 700px;
        margin: 0 auto;
        font-size: 1.3rem;
        word-spacing: 0.3rem;
    }
    &__cost{
        text-align: right;
        font-size: 1.5rem;
        padding: 2% 0;
        margin: 0 auto;
        width: 700px;
    }
}
