#bgr{
    display: none;
    position: absolute;
    background: #3B3B3B;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
#bgr.show{
    display: flex;
}
#modal-window{
    background: white;
    position: relative;
    width: 40vw;
}
#content{
    padding: 5% 10%;
}
.close-pop-up{
    position: absolute;
    top: 1rem;
    width: auto;
    font-size: 1.5rem;
    background: white;
    cursor: pointer;
    right: 1rem;
    border-radius: 4rem;
    padding: 1%;
    height: 60px;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#content img{
    width: 30px ;
}