$background-color-light: #FFFFFF;
$background-color-medium: #F1F3F4;
$background-color-dark: #3B3B3B;
$accent-color: #D62240;
$basic-font-color: #000000;
$font-color-light: #FFFFFF;
$font-color-medium: #585959;
$border-color: #CECECE;